.ui-pnotify.custom {
    left: 50%;
    margin-left: -150px;
}
.ui-pnotify.custom-info {
    left: 50%;
    margin-left: -250px;
}
.ui-pnotify.custom-info .ui-pnotify-closer{
    visibility:inherit!important;
}

.ui-pnotify.custom-content .ui-pnotify-container {
    background-color: #404040 !important;
    background-image: none !important;
    border: none !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.ui-pnotify.custom-content,
.ui-pnotify.custom-notice {
    left: 50%;
    margin-top: 5%;
    margin-left: -250px;
    word-break: break-all;
}

.ui-pnotify.custom-content .ui-pnotify-text,
.ui-pnotify.custom-notice .ui-pnotify-text{
    max-height: 450px;
    overflow-y: auto;
}
