horae/migrations/0019_computecategorydetail_computedetail_and_more.py
horae/pipeline_manager.py.bak-20260928-060859
log.tar.gz
metadata/
nul
start_services.sh
status
uuid
.DS_Store
data/
horae/node_modules/
horae/package.json
user_pkgs/
*/__pycache__
*/*/__pycache__
nohup.out
log
packages
