
/* ******************************************************
	Circular Navigation Menu
*********************************************************/

.CircularNavigation {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  position: relative;
}
.circleNavi {
  width: 250px;
  height: 250px;
  opacity: 0;
  
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.circleNavi a {
  text-decoration: none;
  color: white;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  text-align: center;

}
.circleNavi a:hover {
  color: #eef;
}
.circleNavi i.fa {
    border: 1px solid #4c1b6f;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 14px;
    padding: 12px;
}
.open.circleNavi {
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}












