/*个人信息修改*/
#updatePersonal input[type=text],
#updatePersonal input[type=password]{
    width:250px;
    margin-left: 10px;
    margin-bottom: 10px;
}
#updatePersonal label {
    width:135px;
    text-align:right;
    margin-top:4px;
}
#updatePersonal fieldset{
    width:500px;
}
#updatePersonal .form-control{
    display:inline;
}
#updatePersonal legend{
    width:650px;
}

.page-header{
    margin:20px 0 20px
}
.errorlist {
    color: red;
    margin-left: 120px;
}

/*登录、注册*/
.all_form input[type=text],
.all_form input[type=password]{
    width:200px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.all_form label {
    width:65px;
    text-align:right;
    
}
.all_form .form-control{
    display:inline;
}
.all_form .form-group{
    margin-top: 15px;
}
.form-group input{
}
#register_aid {
    float:right;
    margin-left:10px;
}
.errorlist{
    list-style-type:none
}
.errorlist li{
    color: red;
}

.badge-important{
    background-color: #d84c31;
}

/*
#create_config_form{
    height: 300px;
    overflow-y: scroll;
}
*/

.ui-pnotify.custom {
    left: 50%;
    margin-left: -150px;
}

.config_class label{
    float:left;
    margin-top: 5px;
    width: 60px;
    text-align: center;
}

.config_class input,
.config_class select,
.config_class div,
.config_class textarea{
    width: 400px;
    float: left;
    
}
.nav-dropdowns a{
    color: #fff;
    font-family: MicrosoftYaHei, 'Microsoft YaHei';
    font-weight: 400;
    font-size: 16px;
}
.nav-dropdowns .active_header{
    background-color: #679ac3;
    color: white;
    padding-bottom: 0px;
}
#project_name {
    font-family: 'MicrosoftYaHei', 'Microsoft YaHei';
    font-weight: 400;
    font-style: normal;
    font-size: 34px;
    color: #FFFFFF;
    text-align: left;
    line-height: 23px;
}
#nav-left-sidebar li a {display: block;
    text-decoration: none;
    color: #777;
    background: #fff; /* IE6 Bug */
    padding: 5px;
    border: 1px solid #ccc;
    border-bottom: 0;
    line-height:40px;
    text-align:center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#nav-left-sidebar li a:hover{
    background-color:#ccc;
    color: #ccc;
}
#nav-left-sidebar li .active{
    background-color: #ccc;
}
#nav-left-sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 141px; /* Width of Menu Items */
    border-bottom: 1px solid #ccc;
    overflow-y: auto;
    max-height: 511px;
}

